.nav-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  background-color: $black;
}

.nav-inner-container {
  margin: 0 auto;
  display: flex;
  height: 60px;
  width: 100%;
  max-width: $max-width;
  justify-content: center;
  align-items: center;
  padding: 0px 0 5px 0;

  &-mobile {
    @extend .nav-inner-container;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 0 5px 0;
  }

  // spacer
  div:nth-child(2) {
    flex: 1;
  }
}

//logo
.nav-logo {
  position: absolute;
  top: 10px;
  left: 5px;
  a > img {
    max-height: 45px;
  }
}

.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding: 10px;
  margin: 0 15px;
  border-bottom: 2px solid $black;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $gray-light;
  }

  a:hover {
    color: $teal-light;
  }

  &-active {
    @extend .nav-link;
    border-bottom: 2px solid $teal-light;
  }
}

.hamburger-button {
  @extend .nav-link;
  display: none;
  color: $gray-light;
  font-size: 1.2rem;
}

.hamburger-button:hover {
  color: $teal-light;
}

//mobile and tablet
@media (max-width: $mobile-break) {
  .hamburger-button {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
